<?xml version="1.0" encoding="utf-8"?>
<configuration status="warn">

    <!--定义日志-->
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%class{16} %line] - %msg%n" />
        </console>
    </appenders>

    <!--定义输出-->
    <loggers>
        <root level="info">
            <AppenderRef ref="Console"/>
        </root>
    </loggers>

</configuration>