<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itoolshub.mybatis.resultSetHandler.mapper.TeacherClassroomMapper">


	<resultMap id="RM-TEACHERCLASSROOM" type="com.itoolshub.mybatis.common.domain.TeacherClassroom">
		<id column="id" property="id" javaType="Long" jdbcType="BIGINT"/>
		<result column="teacher_id" property="teacherId" javaType="Long" jdbcType="BIGINT"/>
		<result column="classroom_id" property="classroomId" javaType="Long" jdbcType="BIGINT"/>
	</resultMap>


	<sql id="RM-TEACHERCLASSROOM-ALLCOLS">
		id,teacher_id,classroom_id
	</sql>


	<select id="findById" resultMap="RM-TEACHERCLASSROOM">
		SELECT
			<include refid="RM-TEACHERCLASSROOM-ALLCOLS"/>
		FROM teacher_classroom WHERE id = #{id}
	</select>


	<insert id="create" parameterType="com.itoolshub.mybatis.common.domain.TeacherClassroom" 
useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
		INSERT INTO teacher_classroom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="teacherId != null">
				teacher_id,
			</if>
			<if test="classroomId != null">
				classroom_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="teacherId != null">
				 #{teacherId,jdbcType=BIGINT},
			</if>
			<if test="classroomId != null">
				 #{classroomId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>


	<update id="update" parameterType="com.itoolshub.mybatis.common.domain.TeacherClassroom">
		UPDATE teacher_classroom
		<set>
			<if test="teacherId != null">
				teacher_id  = #{teacherId,jdbcType=BIGINT},
			</if>
			<if test="classroomId != null">
				classroom_id  = #{classroomId,jdbcType=BIGINT},
			</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>


</mapper>
